$white: #fff;
$black: #000;
$gray: #7a8a9c;
$blue: #287cbf;
$darkblue: #476483;
$pastel-yellow: #fff799;
$lightgray: #f4f4f4;
$other-gray: #909dac;
$green: #39b54a;
$red: #ec1a3b;
$siren: #676275;
$darker-gray: #58687a;

$ff: "Gotham Pro";